<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wafflestudio.snuboard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon_v1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_v1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNUBoard"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".presentation.info.NotificationListActivity"></activity>
        <activity android:name=".presentation.info.TeamInfoActivity" />
        <activity android:name=".presentation.info.VersionInfoActivity" />
        <activity android:name=".presentation.auth.PolicyReadActivity" />
        <activity android:name=".presentation.auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.department.DepartmentSearchActivity" />
        <activity android:name=".presentation.user.ProfileActivity" />
        <activity android:name=".presentation.department.DepartmentActivity" />
        <activity android:name=".presentation.notice.NoticeDetailActivity" />
        <activity android:name=".presentation.notice.NoticeSearchActivity" />
        <activity android:name=".presentation.MainActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_noti_trim" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>
