<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wafflestudio.snuboard">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon_v1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_v1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNUBoard">
        <activity android:name=".presentation.auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.department.DepartmentSearchActivity" />
        <activity android:name=".presentation.user.ProfileActivity" />
        <activity android:name=".presentation.department.DepartmentActivity" />
        <activity android:name=".presentation.notice.NoticeDetailActivity" />
        <activity android:name=".presentation.notice.NoticeSearchActivity" />
        <activity android:name=".presentation.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>